body {
  font-family: Arial;
  padding-bottom:68px; /* Make room for the fixed main navigation navbot */
}

/* General styling for input controls */
select, input[type="text"], input[type="date"], input[type="time"] {
  border-radius: 4px;
  font-size: inherit;
  padding: 0.5em 0.5em 0.5em 1em;
  margin: 0;      
  box-sizing: border-box;
  width: 100%;
  border-width: 1px;
}