body {
  padding-top: var(--but-size); 
}

h3 {
  margin-top: 0;
}
.header-note {
 font-size: 0.8em;
 font-weight: normal;
}

/* Records list div */
#record-list {
  overflow-y: auto; 
  overflow-x: hidden; 
  height: calc(100vh - 2 * var(--but-size) - 2 * var(--body-margin));
  width: 50%;
}
.small-edit #record-list {
  display: none;
}
@media only screen and (max-width: 1024px) {
  #record-list {
    width: 100%;
  }
}
.emulate-v1 #record-list {
  width: 100%;
}

/* Representation of records in record list */
.record-div {
  background-image: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  height: 75px;
  display: flex;
  align-items: center; 
  position: relative;
  min-width: 250px;
  padding-right: 72px;
}
.record-div.record-selected, #copy-field-selected-record {
  background-image: linear-gradient(to bottom, white, rgb(240, 240, 18));
  border: 1px dashed black;
}
#copy-field-selected-record {
  padding: 0.5em;
}

.record-play-image {
  width: 50px;
  /* cursor:pointer required on iOS browsers otherwise click event not recognised */
  cursor: pointer;
}
.record-play-image.no-wav {
  pointer-events: none;
}
.record-logo {
  margin-left: 0px;
  width: 40px;
  pointer-events: none;
  display: none;
}
body.emulate-v1 .record-logo {
  display: inline-block;
}
.record-div-text {
  margin-left: 5px;
  pointer-events: none;
}
.record-div-icons {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: absolute;
  right: 45px;
}
.record-div-icons svg {
  width: 21px;
}

.record-div-icons path[fill="none"], .record-div-icons circle[fill="none"],
.record-div-icons path:not([fill]), .record-div-icons circle:not([fill]) {
  fill: none;
  stroke: black;
}
.record-div-icons path[stroke="none"], .record-div-icons circle[stroke="none"],
.record-div-icons path:not([stroke]), .record-div-icons circle:not([stroke]) {
  fill: black;
  stroke: none;
}
.record-checkbox {
  position: absolute;
  right: 15px;
  transform: scale(2);
}

/*General styling for record details input fields */
.record-details-input {
  margin-bottom: 1em;
}
/* Styling for record state in record detail fields */
#record-details input.edited, #record-details textarea.edited, #record-save-cancel.edited button {
  background-color: #efe6cd;
}
#record-save-cancel.edited button {
  border-width: 1px;
}
#record-details input.saved, #record-details textarea.saved {
  background-color: #c8ebcf;
}
#record-details.disable .record-details-input {
  pointer-events: none;
	opacity: 0.5;
	background-color: #f5f5f5;
}

/* Record and field details main divs */
#record-field-details {
  display: flex;
}
.emulate-v1 #record-field-details {
  display: none;
}
@media only screen and (max-width: 1024px) {
  body:not(.small-edit) #record-field-details { 
    display: none;
  }
}
#record-field-details {
  width: 100%;
}

.details-div {
  margin-left: 1em;
  width: 100%;
  overflow-y: auto; 
  overflow-x: hidden; 
  height: calc(100vh - 2 * var(--but-size) - 2 * var(--body-margin));
}

/* .details-div {
  width: 100%;
} */

/* Details div visibility in response to button selections */
.details-div.hide {
  display: none;
}
body:not(.small-edit) #record-details {
  display: block;
}
@media only screen and (max-width: 1024px) {
  #record-list.hide {
    display: none;
  }
  .details-div {
    margin-left: 0;
  }
} 

/* Record details save/cancel button */
/* Container div */
#record-save-cancel {
  display: flex;
  justify-content: right;
  margin-top: 1em;
}
/* The actual buttons */
#record-save-cancel button {
  margin-left: 1em;
  font-size: 1em;
  padding: 8px;
}

/* Formatting of names provided by NBN API */
.scientific-name .name {
  font-style: italic;
}

/* Dialogs */
#metadata-dialog td {
  text-align: center;
  vertical-align: bottom;
  width: 40px;
  height: 30px;
  /* padding-left: 10px; */
}
#metadata-dialog td.label {
  text-align: right;
}
#metadata-dialog input {
  margin: 0;
  transform: scale(2);
}
#record-details-title {
  margin-bottom: 0;
}
#record-details-playback-div {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

/* #record-duplicate {
  margin-left: 10px;
  height: 38px;
  font-size: 1em;
} */

#record-duplicate {
  margin-left: 10px;
  padding: 8px;
  font-size: 1em;
}

#record-details-playback-image {
  height: 30px;
  pointer-events: none;
}
#record-details-playback-button {
  width: 50px;
  height: 38px;
  font-size: 1em;
}
#record-details-pause-button {
  width: 80px;
  height: 38px;
  font-size: 1em;
  margin-left: 0.5em;
}

#copy-field-dialog-checkboxes {
  display: grid;
  align-items: center;
  grid-template-columns: 25px auto;
  grid-auto-rows: 35px;
  grid-column-gap: 5px;
}
#copy-field-dialog-checkboxes input {
  transform: scale(2);
  margin-right: 10px;
}

#delete-confirm-checkbox {
  scale: 2;
  margin-right: 1em;
}

.term-suggestions {
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 250px;
}

.term-suggestions.hide {
  display: none;
}

.term-suggestions {
  li {
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    margin:0;
    padding:10px;
    &:nth-child(even) {
      background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
    }
    &:nth-child(odd) {
      background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
    }
  }
}

.taxon-list-item div, .taxon-name {
  pointer-events: none;
}

.term-suggestions li.hide {
  display: none;
}

.record-n {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8em;
  color: grey;
  pointer-events: none;
}

.rec-time {
  font-size: 0.8em;
  color: grey;
}

#template-select {
  margin-left: 1em;
}
#template-select.hide {
  display: none;
}