body#manage {
  padding-top: var(--but-size); 
}

h3 {
  margin-top: 0;
}
.header-note {
 font-size: 0.8em;
 font-weight: normal;
}

/* Records list div */
#record-list {
  overflow-y: auto; 
  overflow-x: hidden; 
  height: calc(100vh - 2 * var(--but-size) - 2 * var(--body-margin));
  width: 50%;
}
.small-edit #record-list {
  display: none;
}
@media only screen and (max-width: 1024px) {
  #record-list {
    width: 100%;
  }
}
.emulate-v1 #record-list {
  width: 100%;
}

/* Representation of records in record list */
.record-div {
  background-image: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  height: 70px;
  display: flex;
  align-items: center; 
  position: relative;
  min-width: 250px;
  padding-right: 70px;
}
.record-div.record-selected {
  background-image: linear-gradient(to bottom, white, rgb(238, 238, 120));
}
.record-play-image {
  width: 60px;
  /* cursor:pointer required on iOS browsers otherwise click event not recognised */
  cursor: pointer;
}
.record-play-image.no-wav {
  pointer-events: none;
}
.record-logo {
  margin-left: 10px;
  width: 50px;
  pointer-events: none;
}
.record-div-text {
  margin-left: 20px;
  pointer-events: none;
}
.record-div-icons {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.record-div-icons svg {
  width: 21px;
}
.record-checkbox {
  position: absolute;
  right: 15px;
  transform: scale(2);
}
.record-div-icons {
  position: absolute;
  right: 50px;
}
.record-div-icons path[fill="none"], .record-div-icons circle[fill="none"],
.record-div-icons path:not([fill]), .record-div-icons circle:not([fill]) {
  fill: none;
  stroke: black;
}
.record-div-icons path[stroke="none"], .record-div-icons circle[stroke="none"],
.record-div-icons path:not([stroke]), .record-div-icons circle:not([stroke]) {
  fill: black;
  stroke: none;
}

/* Modal dialog deletion confirm buttons */
#delete-confirm, #delete-reject {
  width: 100px;
  height: 40px;
}
/* Share not supported dialog */
#share-problem {
  max-width: 300px;
}
#share-problem button {
  width: 100px;
  height: 40px;
  float: right;
}

/*General styling for record details input fields */
.record-details-input {
  margin-bottom: 1em;
}
/* Styling for record state in record detail fields */
#record-details input.edited, #record-details textarea.edited, #record-save-cancel.edited button {
  background-color: #efe6cd;
}
#record-details input.saved, #record-details textarea.saved {
  background-color: #c8ebcf;
}
#record-details.disable .record-details-input {
  pointer-events: none;
	opacity: 0.5;
	background-color: #f5f5f5;
}

/* Record and field details main divs */
#record-field-details {
  display: flex;
}
.emulate-v1 #record-field-details {
  display: none;
}
@media only screen and (max-width: 1024px) {
  body:not(.small-edit) #record-field-details { 
    display: none;
  }
}
#record-field-details {
  width: 100%;
}

.details-div {
  margin-left: 1em;
  width: 100%;
  overflow-y: auto; 
  overflow-x: hidden; 
  height: calc(100vh - 2 * var(--but-size) - 2 * var(--body-margin));
}

.details-div {
  width: 100%;
}

/* Details div visibility in response to button selections */
.details-div.hide {
  display: none;
}
body:not(.small-edit) #record-details {
  display: block;
}
@media only screen and (max-width: 1024px) {
  #record-list.hide {
    display: none;
  }
  .details-div {
    margin-left: 0;
  }
} 

/* Record details save/cancel button */
/* Container div */
#record-save-cancel {
  display: flex;
  justify-content: right;
  margin-top: 1em;
}
/* The actual buttons */
#record-save-cancel button {
  margin-left: 1em;
  font-size: 1em;
  padding: 8px;
}

/* Formatting of names provided by NBN API */
.scientific-name .name {
  font-style: italic;
}