#location-details {
  --ctrl-height: 100px;
  --head-height: 30px;
}
#head-div {
  height: var(--head-height);
}
#map-div {
  height: calc(100% - var(--ctrl-height) - var(--head-height));
}
#ctls-div {
  height: var(--ctrl-height);
}
.current-lat-lon {
  filter: hue-rotate(120deg);
}

#georef-div {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto auto;
}
#georef-div button {
  height: calc(100% - 4px);
  font-size: 1em;
}
.georef-label {
  font-weight: bold;
}
#georef-div > * {
  margin: 2px;
}
