@media only screen and (max-width: 1024px) {
  /* Hide the record list navbot */
  body#manage.hide-navtop {
    padding-top: 0;
  }
  body#manage.hide-navtop #navtop {
    display: none;
  }
}

/* Record list toolbar - fixed to top of page */
#navtop {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: var(--but-size);
  width: 100%;
  z-index: 100;
}

/* Top navigation buttons/bars position and visibility */
.navtop-inner-container {
  width: 100%
}
#navtop-inner-left {
  width: calc(var(--but-size) * 6);
  margin: 0 auto;
}
body.emulate-v1 #navtop-inner-left {
  width: calc(var(--but-size) * 5);
  margin: 0 auto;
}
body.emulate-v1 .nabvar-icon.v2 {
  display: none;
}

#navtop-inner-right {
  width: calc(var(--but-size) * 2);
  margin: 0 auto;
}
#navtop svg#edit-record {
  display: none;
}
@media only screen and (max-width: 1024px) {
  #navtop-inner-right {
    width: calc(var(--but-size) * 3);
    margin: 0 auto;
  }
  #navtop svg#edit-record {
    display: block;
  }
  .navtop-inner-container.middle {
    display: none;
  }
  .small-edit .navtop-inner-container.left {
    display: none;
  }
  body:not(.small-edit) .navtop-inner-container.right {
    display: none;
  }
}
body.emulate-v1 .navtop-inner-container.middle {
  display: none;
}
body.emulate-v1 .navtop-inner-container.right {
  display: none;
}

/* Main navigation bar */
#navbot {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  left: 0;
  height: var(--but-size);
  width: 100%;
  bottom: 0;
}
#navbot-inner {
  margin: 0 auto;
  width: calc(var(--but-size) * 3);
}
#navbot svg#navbot-link-edit { /* CSS selector needs to be more specific than below */
  display: none; /* Edit link is hidden by default */
}
/* Change the width of the navar-inner div
 * which is centered in the main navbot div
 * in order to ensure navigation links are
 * centred correctly because there are a
 * different number on full screen and
 * mobile screen
 */
@media only screen and (max-width: 1024px) {
  body.emulate-v1 #navbot svg#navbot-link-edit {
    display: none;
  }
  body.emulate-v1 #navbot-inner {
    width: calc(var(--but-size) * 3);
  }
  #navbot-inner {
    width: calc(var(--but-size) * 4);
  }
  #navbot svg#navbot-link-edit { 
    display: block;
  }
}

.nabvar-icon {
  width: var(--but-width);
  cursor: pointer;
  float: left;
  display: block;
  text-align: center;
  padding: var(--but-padding);
  text-decoration: none;
}
.nabvar-icon path:not([stroke]) {
  fill: white;
  pointer-events: none;
}
.nabvar-icon path {
  stroke: white;
  pointer-events: none;
}
.nabvar-icon circle {
  stroke: white;
  pointer-events: none;
}
.selected-nav .nabvar-icon path:not([stroke]) {
  fill: rgb(12, 237, 12);
}
.selected-nav .nabvar-icon path {
  stroke: rgb(12, 237, 12);
}
.selected-nav .nabvar-icon circle {
  stroke: rgb(12, 237, 12);
}