.taxon-suggestions {
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 250px;
}

.taxon-suggestions.hide {
  display: none;
}

.taxon-suggestions {
  li {
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    margin:0;
    padding:10px;
    &:nth-child(even) {
      background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
    }
    &:nth-child(odd) {
      background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
    }
  }
}

.taxon-name {
  pointer-events: none;
}